.signincontainer
  = form_for @profile do |f|

    .field
      %br
      = f.label :firstname
      %br
      = f.text_field :firstname, autofocus: true

    .field
      %br
      = f.label :secondname
      %br
      = f.text_field :secondname, autofocus: true

    .field
      %br
      = f.label :birthday
      %br
      = f.date_select :birthday, autofocus: true

    .field
      %br
      = f.label :about
      %br
      = f.text_field :about, autofocus: true

    .field
      %br
      Photo
      %br
      = f.file_field :photo

    .actions
      %br
      = f.submit "Update", class: "btn btn-primary"
