<!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white"><br>Profile</h2><br>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead" align="right">
            Никнейм:<br>
            Имя:<br>
            Фамилия:<br>
            Дата рождения:
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
            <%= current_user.nickname %><br>
            <%= current_user.firstname %><br>
            <%= current_user.secondname %><br>
            <%= current_user.birthday %>
          </p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
        <%= link_to 'Редактировать', edit_user_registration_path, class: "btn btn-xl btn-outline-light" %>
        </a>
      </div>
      <br>
    </div>
  </section>