.user-profile
  .profile.row
    .col-md-4.avatar
      .wrapper
        - if @user.profile.photo?
          = image_tag @user.profile.photo_url(:thumb)

    .col-md-8.basic-info
      .user-wrapper
        %h2.username= @user.nickname



        = render 'friendbutton'



      %ul.posts
        %li
          %span= @user.posts.count
          posts
        %li
          %span 195
          followers
        %li
          %span 345
          following
      /имя и описание
      - if @user.profile.firstname? && @user.profile.secondname?
        %h2.name= @user.profile.firstname + ' ' + @user.profile.secondname
        %a.about= @user.profile.about

.user-tabs
  %a.tab.active{href: '#'}
    Posts
  %a.tab{href: '#'}
    Liked
  %a.tab{href: '#'}
    Saved

.user-images
  - @posts.each do |post|
    .wrapper
      = link_to post_path(post) do
        = image_tag post.image