!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title JDIgram
  %body#page-top
    = yield

%img.homeimage.rounded.mx-auto.d-block{:alt => "png", :src => "https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png"}

.posts2
  - @posts.each do |post|
    %section.post
      .user
        .avatar
          = link_to user_path(post.user) do
            %img{src: post.user.profile.photo_url}
        .username
          = link_to user_path(post.user), {style: 'color:#262626;'} do
            = post.user.nickname
      = link_to post_path(post) do
        = image_tag post.image, class: 'main-image'
      .description
        = post.description
        .likeshomes
          = post.likes.count
          %i.fas.fa-heart


%footer.footer.text-center.bg-dark.text-white.mb-0
  .container
    %br
    .row
      / Footer Location
      .col-lg-4.mb-5.mb-lg-0
        %p.lead.mb-0
          © 2019 JDILab.
      / Footer Social Icons
      .col-lg-4.mb-5.mb-lg-0
        -#%a.btn.btn-outline-light.btn-social.mx-1{:href => "#"}
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "#"}
          %i.fab.fa-fw.fa-facebook
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "#"}
          %i.fab.fa-fw.fa-twitter
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "#"}
          %i.fab.fa-fw.fa-linkedin-in
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "#"}
          %i.fab.fa-fw.fa-dribbble
      / Footer About Text
      .col-lg-4
        %p.lead.mb-0
          Just look at my
          = succeed "." do
            %a{:href => "https://github.com/oksromn/JDIgram", :target => "_blank"} GitHub