!!!

= yield

.posts2
  - @posts.each do |post|
    %section.post
      .user
        .avatar
          = link_to user_path(post.user) do
            %img{src: post.user.profile.photo_url}
        .username
          = link_to user_path(post.user), {style: 'color:#262626;'} do
            = post.user.nickname
      = link_to post_path(post) do
        = image_tag post.image, class: 'main-image'
      .description
        = post.description
        .likeshomes
          = post.likes.count
          %i.fas.fa-heart
          = post.comments.count
          %i.fas.fa-comment-alt

=# render 'footer'