.mx-auto{:style => "width: 600px;"}
  .container
    .col-md-4
      .card.mb-4.shadow-sm{:style => "width: 503px;"}
        .card-header
          = link_to @post.user.nickname, user_path(@post.user), {style: 'color: gray;'}
        %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "0", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%"}
          .mx-auto.my-auto
            = image_tag @post.image, {:style => "width: 500px; height: auto;"}
        .card-body

          %p.card-text.font-weight-lighter
            = @post.description
          .d-flex.justify-content-between.align-items-center

            .btn-group
              .btn-outline-secondary{:style => "margin-right: 10px;"}
                - pre_like = @post.likes.find { |like| like.user_id == current_user.id}
                - if pre_like
                  = link_to 'Unlike', post_like_path(@post, pre_like), method: :delete, class: 'btn btn-outline-dark'
                - else
                  = link_to 'Like', post_likes_path(@post), method: :post, class: 'btn btn-outline-dark'

              .btn-outline-secondary
                =link_to 'Comment', new_post_comment_path(@post), method: :get, class: 'btn btn-outline-dark'
            .text-muted
              = @post.likes.count
              %i.fas.fa-heart
              = @post.comments.count
              %i.fas.fa-comment-alt

= render @post.comments


