.post-show.row
  .col-md-8
    = image_tag @post.image, class: 'main-image'
  .col-md-4
    .user
      .avatar
        - if @post.user.profile.photo?
          = link_to user_path(@post.user) do
            = image_tag @post.user.profile.photo_url
      = link_to @post.user.nickname, user_path(@post.user), class: 'username'
    .description
      = @post.description

      .delete
        - if current_user.posts.exists?(@post.id)
          = link_to 'Remove', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }

.likes
  = @post.likes.count
  %i.fas.fa-heart
  %br
  - pre_like = @post.likes.find { |like| like.user_id == current_user.id}
  - if pre_like
    = button_to 'Unlike', post_like_path(@post, pre_like), method: :delete, class: 'btn btn-primary'
  - else
    = button_to 'Like', post_likes_path(@post), method: :post, class: 'btn btn-primary'

=# button_to 'Like', post_likes_path(@post), method: :post, class: 'btn btn-primary'
