.mx-auto{:style => "width: 600px;"}
  .container
    .col-md-4
      .card.mb-4.shadow-sm{:style => "width: 503px;"}
        .card-header
          = link_to @post.user.nickname, user_path(@post.user), {style: 'color: gray;'}
        %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Thumbnail", :focusable => "false", :height => "0", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "100%"}
          .mx-auto.my-auto
            = image_tag @post.image, {:style => "width: 500px; height: auto;"}
        .card-body

          %p.card-text.font-weight-lighter
            = @post.description
          .d-flex.justify-content-between.align-items-center

            .btn-group
              .btn-outline-secondary{:style => "margin-right: 10px;"}
                #likebutton
                  = render 'likebutton'

              .btn-outline-secondary{:style => "margin-right: 10px;"}
                =link_to 'Comment', new_post_comment_path(@post), method: :get, class: 'btn btn-outline-dark'

              .btn-outline-secondary
                - if current_user == @post.user
                  = link_to 'Remove', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark'


            .text-muted#likes
              = render 'likescount'

= render @post.comments


