%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  %i.fas.fa-cannabis.logo.mx-1
  %a.navbar-brand{href: root_path}
    JDIgram
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active

      %li.nav-item.active
        %a.nav-link{href: new_post_path}
          Post

      %li.nav-item.active
        %a.nav-link{href: chats_index_path}
          Chats

      %li.nav-item.active
        %a.nav-link{href: index_friends_users_path}
          Friends
          - if user_signed_in? && current_user.requested_friends.count != 0
            %span.badge #{current_user.requested_friends.count}

      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Account
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          - if user_signed_in?
            %a.dropdown-item{href: (user_path(current_user) if user_signed_in?)} Profile
            %a.dropdown-item{href: edit_user_registration_path} Settings

          - else
            %a.dropdown-item{href: new_user_session_path} Sign In

          .dropdown-divider
          %a.dropdown-item{href: "https://github.com/oksromn/JDIgram"} Look at my GitHub

      %li.nav-item
        - if user_signed_in?
          %a.nav-link.disabled{"aria-disabled" => "true", href: current_user.nickname, :tabindex => "-1"}
            = current_user.nickname

      %li.nav-item.active.my-auto
        - if user_signed_in?
          = link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "btn btn-xl"
        - else
          = link_to 'Sign in', new_user_session_path, class: "btn btn-xl"


    .form-inline.my-2.my-lg-0
      = form_tag users_path, method: :get do
        = text_field_tag :q, nil, class: 'form-control mr-sm-2', placeholder: '@search'
        %button.btn.btn-outline-dark.my-2.my-sm-0{:type => "submit"} Search
