%nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  %ul.navbar-nav
    %li.nav-item
    %li.nav-item
      = link_to 'JDIGram', root_path, class: "navbar-brand"
    %li.nav-item
      = link_to 'Profile', (user_path(current_user) if user_signed_in?), class: "nav-link"
    %li.nav-item
      = link_to 'Post', new_post_path, class: "nav-link"
    %li.nav-item
      = link_to 'Users', users_path, class: "nav-link"
    %li.nav-item
      %a.nav-link.js-scroll-trigger{:href => "#interests"} Interests

    / search
    .m-auto
      .form-inline.search-form
        = form_tag users_path, method: :get do
          = text_field_tag :q, nil, placeholder: '@search'


    %li.nav-item
      .nickname_layout
        - if user_signed_in?
          = link_to current_user.nickname, edit_user_registration_path, class: "btn btn-xl btn-outline-light"
    %li.nav-item
      .login_button_layout
        - if user_signed_in?
          = link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "btn btn-xl btn-outline-light"
        - else
          = link_to 'Sign in', new_user_session_path, class: "btn btn-xl btn-outline-light"
