!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Rails Devise"
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Devise", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = action_cable_meta_tag
  %body
    %header= render 'layouts/navigation'
    %main
      %br/
      %br/
      %br/
      = render 'layouts/messages'

      = yield
