.signincontainer
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      %br
      = f.label :nickname
      %br
      = f.text_field :nickname, autofocus: true

    .field
      %br
      = f.label :email
      %br
      = f.email_field :email, autofocus: true, autocomplete: "email"

    .field
      %br
      = f.label :password
      - if @minimum_password_length
        %em
          (Минимум #{@minimum_password_length} символов)
      %br
      = f.password_field :password, autocomplete: "new-password"

    .field
      %br
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "new-password"

    .actions
      %br
      = f.submit "Sign up", class: "btn btn-primary"
      %br

  = render "devise/shared/links"
